################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/out/build/x64-debug
.*
./build/


/MeshLib/.DS_Store
/build
/modules
/modules.zip
/out
/install*
*.zip
