################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/out/build/x64-debug
.*/
./build/


/MeshLib/.DS_Store
/build
/modules
/modules.zip
/out
/install*
*.zip
/triangulation/x64/Debug/triangulation.tlog
/triangulation/x64/Debug/CMakeCXXCompilerId.obj
/triangulation/x64/Debug/mocs_compilation.obj
/triangulation/x64/Debug/qrc_qmake_fileLoader.obj
/triangulation/x64/Debug/qrc_triangulation_raw_qml_0.obj
/triangulation/x64/Debug/triangulation.log
/triangulation/x64/Debug/vc143.idb
/triangulation/x64/Debug/vc143.pdb
/triangulation.sln
/triangulation.vcxproj
/triangulation.vcxproj.filters
/triangulation.vcxproj.user
/html
*.user
.qmlls.ini
